<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<div class="continer " style="display: flex;justify-content: center;align-items: center;margin-top: 70px;">

<table class="styled-table" style="width: 70%;">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Deccription</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let t of event">
            <td>{{t.date}}</td>
            <td>{{t.desc}}</td>
        </tr> 
      
        <!-- and so on... -->
    </tbody>
</table>
</div>
</body>
</html>
